.App {
  text-align: center;
}

.App-logo {
 text-align: left; /* antes estaba en center */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
background-color: #282c34;
  min-height: 100vh;
  display: block; /* antes tenía flex que centraba todo */
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
